{
    padding: 0;
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../Imagen/wallpaper.jpg")
}
.contenedor{
    width: 80%;
    background: #abd2fa;
    margin: auto;
}
header{
    height: 400px;
    background-image: url("../Imagen/wa.jpg");
    background-position: center;
    background-size: cover; 
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #abd2fa;
    padding: 10px 20px;
}
.tabla {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
.tres{
    background: #7dabce;
    width: 87%;
    margin: 20px 50px;
    padding: 10px 20px;
    border-radius: 40px;
}
.caja-calificacion{
    background: #7dabce;
    width: 320px;
    padding: 20px;
    border-radius: 30px;
    margin: auto;
}
.calificaciones{
    width: 300px;
    padding: 10px;
}

.arriba{
    display: flex;
    align-items: center;
    gap: 10px;
}

.numero{
    font-size: 60px;
    color: #1b3a6d;
}

.estrellas{
    color: #052b69;
    font-size: 30px;
}

.texto{
    color: #33343a;
    font-size: 14px;
}

.fila{
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.barra{
    width: 220px;
    height: 6px;
    background-color: #ddd;
    border-radius: 10px;
    margin-right: 10px;
}

.lleno{
    height: 100%;
    background-color: #33343a;
    border-radius: 10px;
}

.lado{
    color: #33343a;
    font-size: 14px;
}